body {
	margin: 20px;
	min-height: 100%;
	background-color: lightcyan;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
	font-size: 20px;
	margin: 0px 20px 20px 20px;
	border: black solid 2px;
	border-radius: 5px;
	background-color: transparent;
}

table, th, td {
	border-collapse: collapse;
  border: 3px solid black;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
  margin: 20px 0px 20px 0px;
}

.button5 {
  background-color: transparent;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}

td {

	text-align: center;
	vertical-align: center;
}